@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
}

:root{
    --bg-color: #F2F1F7;
    --white:#FFFFFF;
    --text-color: rgba(0, 0, 0, 0.945);
    
    
    
    
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
}
